/**** Importation des polices ****/

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/**** Variables css ****/

:root {
    --white: #fffffe;
    --light-grey: #f2f4f6;
    --yellow: #fde24f;
    --green: #00ebc7;
    --red: #ff5470;
    --blue: #00214d;
    --dark-blue: #001534;
    --light-blue: #b7c9e4;
    --font-title: "Shrikhand", "cursive";
    --font: "DM Sans", sans-serif;
}

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 500;
    font-size: 18px;
}

button,
input {
    border: none;
    outline: none;
    font-family: var(--font);
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    font-weight: lighter;
}

h1,
h2 {
    text-align: center;
    text-transform: capitalize;
}

h2 {
    line-height: 1.3;
    font-size: 24px;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

ul {
    list-style-type: none;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    color: var(--blue);
}

/**** header ****/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
}

/**** header, footer ****/

header,
footer {
    background-color: var(--white);
    color: var(--blue);
}

/**** main ****/

main {
    flex-grow: 1;
    padding: 20px 25px;
}

/**** btn ****/

.btn {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: var(--white);
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    color: var(--blue);
    margin-block: 25px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--green);
}

/**** footer ****/

footer,
.footer__list {
    display: flex;
    flex-direction: column;
}

footer,
.footer__lists {
    margin-top: 20px;
}

.footer__lists {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    padding-left: 25px;
    width: 33%;
    margin-bottom: 20px;
}

.list__title {
    font-size: 20px;
    margin: 10px 0;
}

.footer__list ul li {
    padding-top: 8px;
}

.footer__list ul li a {
    transition: color 0.3s ease-in-out;
}

.footer__list ul li a:hover {
    color: var(--red);
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 767px) {
    h1 {
        font-size: 26px;
    }

    .subtitle {
        font-size: 20px;
    }

    .footer__lists {
        flex-direction: column;
    }

    .footer__list {
        width: auto;
    }

    h2 {
        font-size: 22px;
    }
}