/**** section container ****/

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

/**** div container__image ****/

.container__image {
    width: 70%;
    height: 700px;
}

.container__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__image,
.container__image img,
.container__details {
    border-radius: 12px;
    transition: box-shadow 0.3s ease-in-out;
}

.container__image :hover,
.container__image img :hover,
.container__details:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

/**** aside container__details ****/

.container__details {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--light-grey);
}

.container__details__text {
    font-size: 18px;
    line-height: 1.5;
}

.container__details__price,
.container__details__price span {
    font-size: 24px;
}

.container__details__price span {
    color: var(--red);
}

.container__details__title,
.container__details__text,
.container__details__price,
.container__details__rating,
.book__btn {
    margin-block: 10px;
}

.yellow {
    color: var(--yellow);
    font-size: 18px;
}

/**** Responsive design version tablette ****/

@media screen and (max-width: 991px) {
    .container {
        flex-direction: column;
    }

    .container__image,
    .container__details {
        width: 100%;
    }

    .container__image {
        height: 500px;
    }

    .container__details {
        margin-top: 25px;
    }

    .container__details__text {
        line-height: 1.8;
    }
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 767px) {
    .container__image {
        height: 350px;
    }
}