/**** section container ****/

.container {
    width: 100%;
    display: flex;
    background-color: var(--light-grey);
}

/**** div container__image ****/

.container__image {
    width: 75%;
    height: 700px;
}

.container__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**** aside container__details ****/

.container__details {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container__details__title {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 1.3;
}

.container__details__text {
    font-size: 18px;
    line-height: 1.5;
}

.container__details__price {
    font-size: 30px;
    color: var(--red);
}

.container__details__title,
.container__details__text,
.container__details__price,
.container__details__rating,
.book__btn {
    margin-bottom: 15px;
}

.yellow {
    color: var(--yellow);
    font-size: 18px;
}

.book__btn {
    padding: 12px 20px;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 12px;
    box-shadow: 0 1px 6px 1px rgba(32, 33, 36, 0.28);
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--green);
}

/**** Responsive design version tablette ****/

@media screen and (max-width: 991px) {
    .container {
        flex-direction: column;
    }

    .container__image,
    .container__details {
        width: 100%;
    }

    .container__image {
        height: 500px;
    }

    .container__details__text {
        line-height: 1.8;
    }
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 767px) {
    .container__image {
        height: 350px;
    }
}